/Guia 6/Guia_6/nbproject/private/
/Guia 6/Guia_6/build/
/Guia 6/Guia_6/dist/
/Guia 6/MascotAPP/nbproject/private/
/Guia 6/MascotAPP/build/
/Guia 6/Sueldos/nbproject/private/
/Guia 6/Sueldos/build/
/Guia 7/Ejercicios/nbproject/private/
/Guia 7/Ejercicios/ej1_difBasica/nbproject/private/
/Guia 7/Ejercicios/ej1_difBasica/build/
/Guia 7/Ejercicios/ej2_difBasica/nbproject/private/
/Guia 7/Ejercicios/ej2_difBasica/build/
/Guia 7/Ejercicios/ej3_difBasica/nbproject/private/
/Guia 7/Ejercicios/ej3_difBasica/build/